{% macro modify_entry(target, entry, label, allow_remove) -%}
<form action="{{ target }}" method="post">
    <label>Begin: </label>
    <input name="begin" type="date" class="form-inline" value="{{ entry.begin_ymd }}">
    <br>

    <label>End: </label>
    <input name="end" type="date" class="form-inline" value="{{ entry.end_ymd }}">
    <br>

    <label>Topic: </label>
    <input name="topic" type="text" class="form-inline" value="{{ entry.topic }}">

    <br>
    <label>Appendix: </label>
    <input name="appendix" type="text" class="form-inline" value="{{ entry.appendix or 'None' }}">

    <br>
<textarea name="content" class="form-control" rows="20">
{{ entry.content }}
</textarea>
    <br>

    {% if entry.has_media %}
    <h2>Attachments</h2>
    Check to remove
    <hr/>
    {% for media in entry.media %}
    <img src="{{ entry.media_url(media) }}" width="400px"/>
    <input class="form-check-input" type="checkbox" value="" name="remove_{{ loop.index - 1 }}">
    <hr>
    {% endfor %}
    {% endif %}

    <input type="submit" class="btn btn-primary" value="{{ label }}">
    {% if allow_remove %}
    <input name="remove" type="submit" class="btn btn-warning" value="Remove">
    {% endif %}
    <a href="/list"><button type="button" class="btn btn-danger">Cancel</button></a>
</form>
{%- endmacro %}